* {
    box-sizing: border-box;
}
body{
    overflow: hidden;
    font-family: Verdana;
    margin: 0;
}
.playlist-ui{
    position: relative;
    background: dodgerblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 700px;
    height: 500px;
    font-size: 15px;
    gap: 1em;
    overflow: hidden;
}

.settings-container{
    background:rgb(124, 131, 230);
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 250px;
}

.playlist-preview-container{
    position: relative;
    display: flex;
    flex-direction: column;
    background: red;
    height: 300px;
    width: 100%;
}

.playlist-header{
    background:rgb(124, 230, 195);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playlist-preview{
    background: white;
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5px;
    overflow-y: scroll;
}

.video-card{
    background: gainsboro; 
    width: 100%;
    height: 100px;
    /* display: flex;
    justify-content: space-around; 
    align-items: center; */

    overflow: hidden;
    display: grid;
    grid-template-columns: 120px 1fr max-content 20px;
    align-items: center;
}

.hide-card-item{
    position: absolute;
    z-index: -1;
}

.image-box{
    background: gold;
    display: flex;
    place-items: center;
    height: 67.15px;
    width: 120px;
    overflow: hidden;
    /* position: relative;
    left: -10px; */
}

.playlist-preview-image{
    /* width: 100%; */
    /* height: 100%; */
    height: 95px;
    width: 220px;
    object-fit: cover;
}

.card-details-box{
    /* background: gold; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 300px; */
    height: 100px;
}

.playlist-video-title, .playlist-video-author{
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist-video-title{
    /* background: tomato; */
    font-weight: 900;
    font-size: 16px;
}

.playlist-video-author{
    /* background: dodgerblue; */
    font-size: 12px;
    color: white;
    font-weight: 600;
}

.handle:hover{
    cursor: pointer;
}

.playlist-handle{
   background: rgba(77, 75, 75, 0.37);
   width: 20px;
   height: 100%;
   display: grid;
   place-items: center;
}

.inner-handle{
    width: 50%;
    height: 12%;
    border-top: 2px solid gainsboro;
    border-bottom: 2px solid gainsboro
}

.full-size{
    width: 200px;
    height: 220px;
    object-fit: cover;
}

button{
    background: gold;
    font-size: 12px;
    padding: 0.5em;
    cursor: pointer;
    border: 0;
    width: 100%;
}

button:hover{
    cursor: pointer;
    background: black;
    color: white;

}



#list-title-container{
    height: 100%;
}

.list-title{
    background: rgb(124, 161, 230);
    border: 0.5em;
    padding: 0.5em;
    color: white;
    width: 100%;
    height: 100%;
}

.list-title-card:hover{
    cursor: pointer;
    background: black;
}

.list-title-card{
    /* background: red; */
}

#current-playlist-container{
    padding: 0.5em;
    background: green;
    width: 100%;
}

#current-playlist{
    background: white;
    /* padding: 0.3em; */
    font-size: 30px;
}

#playlist-name-title{
    background: white;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: tomato;
    gap: 0.5em;
}

a{
    text-align: center;
    background: gold;
    padding: 0.5em;
    width: 100%;
}

a:hover{
    cursor: pointer;
    background: black;
    color: white;
}

.delete-video {
    height: 1.5em;
    margin: 1em;
}

.delete-video:hover{
    cursor: pointer;
}

.star{
    height: 1em;
    fill: gold;
}

svg{height: 1em;}

.draggable{
    cursor: pointer;
}

.drag-start{
    opacity: 0.3;
}

.drag-over{
    border-bottom: 10px solid gold;
}

