* {
    box-sizing: border-box;
}

.playlist-ui{
    position: relative;
    background: dodgerblue;
    display: flex;
    place-items: center;
    width: 700px;
    height: 250px;
    /* padding: 1em; */
    font-size: 15px;
    gap: 1em;
}

.playlist-preview-container{
    position: relative;
    display: flex;
    flex-direction: column;
    background: red;
    height: 100%;
   width: 300px;
}

.playlist-header{
    text-align: center;
}

#playlist-preview{
    background: gainsboro;
    height: 100%;
     width: 100%;
    display: flex;
    gap: 1em;
    padding: 0.5em;
    overflow-x: scroll;
}

.video-card{
    background: white; 
    border-radius: 10px; 
    width: 120px;
    height: 100%;
    border-radius: 10px;
}

.playlist-preview-image{
    width: 120px;
    height: 90px;
}

button{
    background: gold;
    font-size: 12px;
    padding: 0.5em;
    cursor: pointer;
    border: 0;
    width: 100%;
}

button:hover{
    cursor: pointer;
    background: black;
    color: white;

}

.playlist-video-author{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#list-title-container{
    height: 100%;
}

.list-title{
    border: 0.5em;
    padding: 0.5em;
    color: white;
    width: 100%;
}

.list-title:hover{
    cursor: pointer;
    background: black;
}

#current-playlist-container{
    padding: 0.5em;
    background: green;
    width: 100%;
}

#playlist-name-title{
    background: white;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: tomato;
    gap: 0.5em;
}

a{
    text-align: center;
    background: gold;
    padding: 0.5em;
    width: 100%;
}

a:hover{
    cursor: pointer;
    background: black;
    color: white;
}

.delete-video{
    background: red;
    padding: 0.5em;
}
.delete-video:hover{
    cursor: pointer;
}